
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    font-family: "Tahoma";
    font-size:10px;
    line-height: 1.125;
}

body {
    min-height: 100%;

    background-size: 100% 100%;
    * {
        box-sizing: border-box;
    }
}

.wrapper {
    margin: auto;
    width: 100%;
    display: table;
    background-color: rgb(229, 229, 233),
    // padding-top: 30px;
}

