<<<<<<< HEAD

html, body, p, span {
    font-family: 'Josefin Slab', serif;
    
}

ul li {
    display: table;
=======

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    font-family: "Tahoma";
    font-size:10px;
    line-height: 1.125;
>>>>>>> 8ab730bd2e77fb01fac2b27b3c6fdd53a510a59f
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
<<<<<<< HEAD
=======

>>>>>>> 8ab730bd2e77fb01fac2b27b3c6fdd53a510a59f
    background-size: 100% 100%;
    * {
        box-sizing: border-box;
    }
}

.wrapper {
    margin: auto;
    width: 100%;
    display: table;
<<<<<<< HEAD
    // background: #514847;
}
=======
    background-color: rgb(229, 229, 233),
    // padding-top: 30px;
}

>>>>>>> 8ab730bd2e77fb01fac2b27b3c6fdd53a510a59f
