
html, body, p, span {
    font-family: 'Josefin Slab', serif;
    
}

ul li {
    display: table;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-size: 100% 100%;
    * {
        box-sizing: border-box;
    }
}

.wrapper {
    margin: auto;
    width: 100%;
    display: table;
    // background: #514847;
}
