header.header {
  width: 100%;
  height: 154px;
  background: white;
  position: static;
  z-index: 100;
  a{
    text-decoration: none;
  }
  h1{
    font-family: 'Josefin Slab', serif;
    color:whitesmoke;
    background: #2c2525;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px; 
    text-transform: uppercase;
  }
  
  
  .head-nav{
    margin: 0 auto;
    width: 100%;
    height: 92px;
    padding: 20px;
    background: #514847;
    border-top: 1px solid #97918e;

    .head-center{  
      width: 80%;
      margin: 0 auto;
      input{
        margin: 0 auto;
        width: 30%;
        height: 50px;
        font-size: 20px;
        float: left;
        border-radius: 20px; 
        border:none;
        padding-left: 10px;

      }
      a{
        float: right;
      }
      .basket{
        width: 50px;
        height: 50px;
        // background-image: url(../../icon/bascket.png);
        background-size:100% 100%; 
        padding-right: 10px; 
      }
      
      .room-main{
        overflow: hidden;
        float: right;
        width: 50px;
        height: 50px;
        margin-right: 10px; 

        .room-down{
          position: absolute;
          width: 170px;
          height: 50px;
          top: 82px;
          margin-left: -120px;

          .room{
            width: 50px;
            height: 50px;
            background-image: url('../icon/room.png');
            background-repeat: no-repeat;
            background-size:100% 100%; 
            margin-right: 10px; 
            float: left;
          }

          a{
            float: left;
          }

          a .buy{
            width: 50px;
            height: 50px;
            background-image: url('../icon/bascket.png');
            background-size:100% 100%; 
            float: left;
            margin-right: 10px; 
          }
          a .love{
            width: 50px;
            height: 50px;
            background-image: url('../icon/love.png');
            background-size:100% 100%; 
            float: left;
          }
        }
      }
    }
  }
}